{% extends "main_layout.html" %}
{% block title %}Add song to playlist{% endblock title %}

{% block body %}
    <h1>Add song to playlist</h1>
    {% if form.has_songs %}
        <form method="post" action="{% url 'SongRequests:add_song_to_playlist' playlist.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add song">
        </form>
    {% else %}
        <p>There are no songs to add to the playlist.</p>
    {% endif %}
    <a href="{% url 'SongRequests:playlist' playlist.id %}">Back to playlist</a>
{% endblock body %}