{% extends "main_layout.html" %}
{% block title %}Playlist{% endblock title %}

{% block body %}
    <h1>Playlist</h1>
    <h3>{{playlist.title}}</h3>
    <ul>
        {% for song in playlist.songs.all %}
            <li>{{ song.title }} - {{ song.artist }}</li>
        {% empty %}
            <li>No songs in the playlist.</li>
        {% endfor %}
    </ul>
    {% comment %} <a href="{% url 'SongRequests:add_song_to_playlist' %}">Add a song</a> {% endcomment %}
    <a href="{% url 'SongRequests:index'%}">All playlists</a>

{% endblock body %}