.musicapp-page {
  background-color: #{ $BACKGROUND_COLOR };
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: 1rem;
  color: white;
}

.playlist-wrapper{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 1rem;

}

.playlist-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
    --bs-table-bg: #{$SIGNATURE_BLUE_DARK};
    --bs-table-color: #{$SIGNATURE_WHITE};
    --bs-table-hover-color: #{$SIGNATURE_WHITE};
    background-color: transparent;

    tr{
      display: flex;
      overflow: hidden;
      border: none;
      margin-bottom: 3px;
      th{
        display: flex;
        border-style: none;
        flex:1;
      }
      td{
        display: flex;
        align-items: center;
        border-style: none;
        overflow: hidden;
        // flex:1;
      }
      .center-text{
        text-align: center;
        justify-content: space-evenly;
      }
    }
  }

  .column-1 {
      flex: 1 0 0;
      min-width: 9rem;
  }

  .column-2 {
      flex: 1 0 0;
      min-width: 8rem;
  }

  .column-3 {
      flex: 0;
      min-width: 8rem;
  }

  .column-4 {
      flex: 0;
      min-width: 12rem;
  }

  .column-first {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: none;
    border-radius: #{$TABLE_BORDER_RADIUS} 0 0 #{$TABLE_BORDER_RADIUS};
  }

  .column-mid {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .column-last {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: none;
    border-right: solid 1px;
    border-radius: 0 #{$TABLE_BORDER_RADIUS} #{$TABLE_BORDER_RADIUS} 0;
  }

  .column-blank {
    display: block;
    background-color: transparent;
    border: none;
    flex: 0 0 5rem;
  }
}

.collapse-song-list{
  tr{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px;
    margin-left: 10px;
    --bs-table-bg: #{$SIGNATURE_BLUE};
    td{
      display: flex;
      align-items: center;
      border-style: none;
      overflow: hidden;
      flex:1;
    }
    .center-text{
      text-align: center;
      justify-content: center;
    }
  }
}