// Custom variables
$SIGNATURE_BLUE: #4c7daf;
$SIGNATURE_BLUE_DARK: #406995;
$SIGNATURE_BLUE_LIGHT: #5d9cd3;
$SIGNATURE_GREEN: #5cb85c;
$SIGNATURE_YELLOW: #f0ad4e;
$SIGNATURE_ORANGE: #f0ad4e;
$SIGNATURE_RED: #d9534f;
$SIGNATURE_BLACK: #242424;
