// Custom variables
$SIGNATURE_BLUE: #4c7daf;
$SIGNATURE_BLUE_DARK: #406995;
$SIGNATURE_BLUE_LIGHT: #5d9cd3;
$SIGNATURE_GREEN: #5cb85c;
$SIGNATURE_YELLOW: #f0ad4e;
$SIGNATURE_ORANGE: #f0ad4e;
$SIGNATURE_RED: #d9534f;
$SIGNATURE_BLACK: #242424;
$SIGNATURE_WHITE: #f5f5f5;

$MEETAPP_BACKGROUND: #1a326a;

$FONT_FAMILY: 'Roboto', sans-serif;
$BACKGROUND_COLOR: #282c34;

//Dark table rows for dark theme
$TABLE_ROW_DARK: #343446;
$TABLE_ROW_LIGHT: #4c4c4c;
$TABLE_TEXT: #a5a5a5;

//Buttons
$BUTTON_SHOW: #3553dc;
$BUTTON_SHOW_HOVER: #2e46c0;
$BUTTON_EDIT: #f0ad4e;
$BUTTON_DELETE: #dc3545;

//Playlist table
$TABLE_BORDER_RADIUS: 5px;