<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div class="container">
        <div class="top_bar">
            {% block top_bar %}
            <a href="{% url 'MeetApp:index' %}">MeetApp</a>
            <a href="{% url 'SongRequests:index' %}">SongRequests</a>
            <a href="{% url 'UsersApp:index' %}">UsersApp</a>
            {% endblock %}
        </div>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% block body %}
    {% endblock %}
    </div>
</body>
</html>